{%extends "inicio.html"%}
{% load static %}
{% block content %}
<main>
    <div class="contain">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 36rem;">
                    <img src="{% static 'App_Azeroth_Broker/assets/img/LostArk.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lost Ark</h5>
                      <p class="card-text">Gold , carries and lvl boosts</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 36rem;">
                    <img src="{% static 'App_Azeroth_Broker/assets/img/LostArk.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lost Ark</h5>
                      <p class="card-text">Gold , carries and lvl boosts</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 36rem;">
                    <img src="{% static 'App_Azeroth_Broker/assets/img/LostArk.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lost Ark</h5>
                      <p class="card-text">Gold , carries and lvl boosts</p>
                    </div>
                  </div>              
            </div>
        </div>
    </div>
    
</main>





{%endblock %}