{%extends "inicio.html"%}
{% load static %}
{% block content %}

<main>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">juego</th>
            <th scope="col">discord</th>
          </tr>
        </thead>
        <tbody>
            {% for n in vendedor %}
            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.nombre}}</td>
                <td>{{n.juego}}</td>
                <td>{{n.discord}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</main>
 
{%endblock %}
